<html>
<head>
<title>Sign up</title>
</head>
<body>
<h1>Sign up</h1>
<form id="signup" method="post" action="/signup">
  <p>
    <label>Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password1" id="password" />
  </p>
  <p>
    <label>Password (again):</label>
    <input type="text" name="password2" id="password" />
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
</body>
</html>